---
layout: default
---

<div class="home">
    <p><strong>O</strong>h <strong>M</strong>y <strong>G</strong>oodness, we loves us some <em>dumplings!</em></p>
    
    <p>It's true.  We'll eat 'em sweet or savory.  We'll eat 'em meaty or veggie.  We'll eat 'em baked, boiled, fried, steamed, or any combination thereof.</p>
    <p>We've eaten them, whenever possible, with every trip taken to a new cuisine.  We're on a quest to try them all (!) and record our progress here.</p>

    <p>We're well-traveled, but we haven't eaten every possible dumpling or tried to make them all at home, yet.  Therefore, we've split them up into "Been There", "Made Those" and "Future Noms" categories.</p> 
    
    
    <ul>Been There
    {% assign sorted_posts = site.categories.been-there | sort: 'title' %}
    {% for post in sorted_posts %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
    {% endfor %}
    </ul>
    
    <ul>Made Those
    {% assign sorted_posts = site.categories.made-those | sort: 'title' %}
    {% for post in sorted_posts %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
    {% endfor %}
    </ul>
    <ul>Future Noms
    {% assign sorted_posts = site.categories.future-noms | sort: 'title' %}
    {% for post in sorted_posts %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
    {% endfor %}
    </ul>
    <!-- don't have anything for North America yet 
    <ul>North America
    {% assign sorted_posts = site.categories.recipe | sort: 'title' %}
    {% for post in sorted_posts %}
        {%  if post.region contains 'North America' and post.url <> page.url %} 
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
        {%  endif %} 
    {% endfor %}
    </ul>
    -->

    
<!--
  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
-->
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
